@use '../../../App'
    
#left-aside
    width: 60vw
    height: 100vh
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: App.$charcoal
    color: App.$white
    margin: 0px
    text-align: center
    overflow: hidden

    .swiper.swiper-horizontal
        margin: 0px
        width: 100%
        height: 100%
        text-align: left
        .swiper-slide
            display: flex
            flex-direction: column
            justify-content: flex-end
            align-items: flex-start
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            padding: 0px 10%
            box-sizing: border-box
            opacity: 0.8
            p
                margin-bottom: 200px
    .swiper-pagination-bullet
        background-color: App.$white


    img
        width: 90%
        height: auto

    h3
        font-family: App.$block-font
        font-weight: normal
        font-size: 1.5rem
    p
        margin: 0px
        font-size: 1.8rem
        font-family: App.$normal-font