@use '../../../App'

#blog-post-form
    background-color: white
    width: 60%
    border: solid 1px App.$charcoal
    min-height: 50vh
    display: flex
    flex-direction: column
    gap: 2vh
    padding: 5%
    box-sizing: border-box
    &>div
        display: flex
        justify-content: space-between
        flex-direction: column
        align-items: flex-start
        gap: 5px
        label
            font-weight: bold
        input
            height: 30px
        textarea
            height: 50vh
            resize: vertical
        input,textarea
            width: 100%
            border: solid 1px grey
            border-radius: 2px