@use "../../../App"

#blog-post-aside
    display: flex
    flex-direction: column
    gap: 50px
    width: max(283px, 30%)
    background-color: lighten(App.$orange, 10)
    padding: 10px
    height: fit-content
    box-sizing: border-box
    section
        display: flex
        flex-direction: column
        background-color: white
        border: solid 1px App.$charcoal
        min-height: 25vh
        padding: 20px
        align-items: center
        &>*
            padding: 0px 5%
            display: block
        h3,section
            margin: 0px
        h3
            align-self: flex-start
            font-weight: 600
            font-size: 1.1rem
        input
            margin-top: 10px
        