@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&family=Dancing+Script:wght@600&family=Roboto:wght@400;700;900&display=swap')

body, html
  margin: 0px
  padding: 0px

$logo-font: 'Dancing Script', cursive
$block-font: 'Chivo', sans-serif
$normal-font: 'Roboto', sans-serif

$charcoal: #383230
$clay: #bfaea4
$brown: #854621
$orange: #cf8e55