@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&family=Dancing+Script:wght@600&family=Roboto:wght@400;700;900&display=swap')

$logo-font: 'Dancing Script', cursive
$block-font: 'Chivo', sans-serif
$normal-font: 'Roboto', sans-serif

$charcoal: #383230
$white: #f4f4f4
$brown: #854621
$orange: #FF725E
$clay: #bfaea4
$light-grey: #EFEFEF
$horizontal-padding: 0px 5%
$padding-top: 7.5vh

:root
  font-size: 16px

body, html
  margin: 0px
  padding: 0px
  font-family: $normal-font

body
  background-color: $white
  color: $charcoal

button
  border: none
  background-color: inherit

.page
  padding-top: 7.5vh
