#home-page  
    position: relative 
    cursor: none


.circle 
    position: absolute
    left: 0
    top: 0
    width: 10px
    height: 10px
    background: white
    border-radius: 50%
    pointer-events: none
    mix-blend-mode: difference
