@use "../../App"

#create-blog-post
    padding: App.$horizontal-padding
    padding-top: App.$padding-top
    min-height: 90vh
    padding-bottom: 10vh
    display: flex
    flex-direction: column
    gap: 20px
    &>div
        width: 100%
        height: 100%
        display: flex
        justify-content: space-between
        gap: 30px
    #buttons-container
        flex-direction: row
        justify-content: flex-start
        gap: 20px
        button
            display: block
            background-color: App.$white
            padding: 10px
            border-radius: 5px
            color: App.$charcoal
            width: fit-content
            min-width: 100px
            border: solid 2px App.$charcoal
            -webkit-box-shadow: 7px 5px 0px 0px rgba(56,50,48,1)
            -moz-box-shadow: 7px 5px 0px 0px rgba(56,50,48,1)
            box-shadow: 5px 5px 0px 0px rgba(56,50,48,1)
            &:hover
                background-color: darken(App.$white, 10)
            &:active
                box-shadow: none
            &[type="submit"]
                background-color: App.$orange
                &:hover
                    background-color: lighten(App.$orange, 10)

@media all and (max-width: 900px) 
    #create-blog-post > div
        flex-direction: column
        align-items: center
        &>*
            width: 100%