@use "../../App"
    
.articles-container
        display: grid
        grid-template-columns: repeat(1, 350px)
        grid-template-rows: 450px
        grid-auto-rows: 450px
        column-gap: 0px
        row-gap: 0px
        justify-content: center
        width: 100%
        box-sizing: border-box
        cursor: initial
        .article-link
            color: inherit
            text-decoration: none
            &:visited
                color: inherit
        .article
            box-sizing: border-box
            padding: 10%
            border: solid 1px App.$charcoal
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: 1fr 6fr 1fr 1fr
            height: 100%
            width: 100%
            a
                color: inherit
                text-decoration: none
                &:hover
                    text-decoration: underline
            &:hover>h3
                text-decoration: underline
            #date-tags
                width: 100%
                display: flex
                justify-content: space-between
                div
                    max-width: 50%
                    overflow: auto
                    &::-webkit-scrollbar
                        height: 5px
                    .ant-tag
                        cursor: pointer
            &>*
                display: block
                width: 100%
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
            figure
                width: 100%
                height: 100%
                margin: 0px
                padding: 0px
                overflow: hidden
                display: flex
                justify-content: center
                align-items: flex-start
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                img
                    height: auto
                    width: 100%
                    background-color: #fff
                    opacity: 0
            h3
                font-family: App.$normal-font
                font-size: 1.4rem
                margin: 0px
                padding: 0px
                align-self: center
            p
                font-family: App.$normal-font
                margin: 0px
                padding: 0px
                font-size: 0.9rem
                font-weight: 300
                height: fit-content
                line-height: 45px
            div
                font-size: 0.8rem
                display: flex
                gap: 2%
                align-items: center
                p
                    font-weight: 300
                span.bold
                    font-weight: 600

@media all and (max-width: 699px) 
    .articles-container
        padding: 0px 5%
        grid-template-columns: 1fr
        grid-template-rows: 22vh
        grid-auto-rows: 22vh
        .article
            &:last-child
                border-bottom: none
            border-top: solid 1px App.$charcoal
            border-left: none
            border-right: none
            padding: max(2%, 20px) 2%
            grid-template-columns: 1fr 3fr
            grid-template-rows: repeat(4, 1fr)
            column-gap: 10px
            figure
                grid-row: 1 / 5
                img
                    height: 100%
                    width: 100%
        
@media all and (min-width: 700px)    
    .articles-container
        grid-template-columns: repeat(2, 350px)
        .article
            &:nth-child(n+3)
                border-top: none
                    


@media all and (min-width: 1050px)    
    .articles-container
        grid-template-columns: repeat(3, 350px)
        .article
            &:nth-child(n + 3)
                border-top: solid 1px App.$charcoal
            &:nth-child(n+4)
                border-top: none

@media all and (min-width: 1400px)    
    .articles-container
        grid-template-columns: repeat(4, 350px)
        .article
            &:nth-child(n + 3), &:nth-child(n+4)
                border-top: solid 1px App.$charcoal
            &:nth-child(n+5)
                border-top: none

@media all and (min-width: 1750px)    
    .articles-container
        grid-template-columns: repeat(5, 350px)
        .article
            &:nth-child(n + 3), &:nth-child(n+4), &:nth-child(n+5)
                border-top: solid 1px App.$charcoal
            &:nth-child(n+6)
                border-top: none
