@use "../App"
    
#logo
    font-family: App.$block-font
    a
        font-size: 1rem
        font-weight: 800
        color: App.$charcoal
        text-decoration: none
        &:visited
            color: App.$charcoal
            text-decoration: none